.ItemComment {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 12px;

}

.ItemComment-header {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.ItemComment-user {
  font-weight: 700;
}
.ItemComment-active_user {
  font-weight: 700;
  color: #666666;

}
.ItemComment-date {
  color: #666666;

}
.ItemComment-text {
  font-size: 14px;

}

.ItemComment-btn {
  color: #0087e9;
  cursor: pointer;

}
