.Pagination {
  display: flex;
  padding: 21px;
  justify-content: flex-end;
}

.Pagination-item {
  padding: 2px 6px;
  border: 1px solid #fff;
  font-size: 16px;
  user-select: none;
}
.Pagination-points {
  padding: 2px 6px;
  border: 1px solid #fff;
  font-size: 16px;
  user-select: none;
  color: #cccccc;
}

.Pagination-item-active {
  border: 1px solid #ccc;
  background: #0087E9;
  color: #fff;
}
.Pagination-item:hover {
  background: #ccc;
  cursor: pointer;
  /* border: 1px solid #ccc; */
}

/* .List-item:first-child {
  border-top: 1px dashed #ccc;
} */
