.LoginForm {
  display: flex;
  row-gap: 20px;
  flex-direction: column;
  padding: 30px 20px 20px 20px;
}

.LoginForm-head {
  font-weight: 600;
  font-size: 24px;
}
.LoginForm-form {
  display: flex;
  row-gap: 8px;
  flex-direction: column;

}
.LoginForm-button {
  width: fit-content;
}

.LoginForm-error {
  font-size: 16px;
  color: #ff0000;
}

.LoginPage-error {
  font-size: 16px;
  color: #ff0000;
}