.Basket {
}
.Basket-total {
  font-weight: 700;
  padding: 0 20px;
  display: flex;
  justify-content: flex-end;
  padding: 20px 115px 20px 0px;
  font-size: 18px;
}

.Basket-summ {
  width: 130px;
  text-align: end;
}

.Basket-empty {
  display: flex;
  font-size: 25px;
  font-weight: 700;
  height: 200px;
  align-items: center;
  justify-content: center;
}
