.ProfilePage {
  display: flex;
  row-gap: 20px;
  flex-direction: column;
  padding: 30px 20px 20px 20px;
}
.ProfilePage-content {
  display: flex;
  flex-direction: column;
}

.ProfilePage-prop {
  margin: 15px 0;
  display: flex;
  justify-content: flex-start;
  font-size: 18px
}
.ProfilePage-head {
  font-weight: 600;
  font-size: 24px;
}
.ProfilePage-label {
  padding-right: 10px;
}

.ProfilePage-value {
  font-weight: bold;
}
